.background {
//    fill: #571845;
    fill: #e0e4cc;
}

.frame {
    fill: none;
    stroke: #e0e4cc;
    stroke-width: 200px;
}

.building {
    filter: url('#hand-drawn');
    fill: #ccc;
}

.way {
    filter: url(#hand-drawn);
    stroke: #777;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.way:hover {
    stroke: red;
}

.way.xl {stroke-width: 10px;}
.way.l {stroke-width: 8px;}
.way.m {stroke-width: 6px;}
.way.s {stroke-width: 4px;}
.way.xs {display: none;}

.rail {
    filter: drop-shadow(7px 7px 3px black);
    stroke: #fa6900;
    fill: none;
    stroke-width: 0.0001;
}

.station {
    filter: drop-shadow(5px 5px 2px black);
    font-family: 'BritishRailLightNormal', sans serif;
    font-size: 40px;
    font-weight: bold;
    fill: #fa6900;
}

.filtered{
    filter: url(#filter);
    -webkit-filter: url(#filter);
    fill: #9673FF;
    color: #9673FF;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    font-size: 40px;
}


.border {
    fill: none;
    stroke: black;
    stroke-width: .5;
}

.title {
    fill: black;
    stroke: black;
    font-family: DejaVu Sans;
    font-weight: 100;
//    font-size: 20;
}

.park {
    fill: #88ff66;
}
