.background {
//    fill: #571845;
    fill: #e0e4cc;
}

.frame {
    fill: none;
    stroke: #e0e4cc;
    stroke-width: 200px;
}

.park {
    filter: url('#hand-drawn');
    fill: #ccc;
}

.way {
    filter: url(#hand-drawn);
    stroke: #333;
    fill: none;
}

.rail {
    filter: drop-shadow(7px 7px 3px black);
    stroke: #fa6900;
    fill: none;
    stroke-width: 10px;
}

.station {
    filter: drop-shadow(5px 5px 2px black);
    font-family: 'BritishRailLightNormal', sans serif;
    font-size: 40px;
    font-weight: bold;
    fill: #fa6900;
}

.filtered{
    filter: url(#filter);
    -webkit-filter: url(#filter);
    fill: #9673FF;
    color: #9673FF;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    font-size: 40px;
}


.border {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.title {
    fill: black;
    stroke: black;
    font-family: DejaVu Sans;
    font-weight: 100;
    font-size: 100px;
}
